body
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 200; 
	background-color: #f8ecdc;
	/* background-image: url("../img/halftone-tile.png"); */
	/* margin: 0px; */
	align-content: center;
}      

.contentBlock
{
   padding:20px;            
}            

#container
{
	width: 900px;
	margin: 0 auto;
}

#content
{			
	width: 670px;
	float:left;	
}        

.contentBox
{
	background-color: white;
	-moz-bok-shadow: 0px 0px 10px 1px #080808; 
	-webkit-box-shadow: 0px 0px 10px 1px #080808;              
	box-shadow: 0px 0px 10px 1px #080808;  
}

.center
{
	margin-left: auto;
	margin-right: auto;
}
